/*Font*/
@import url(//fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap);

/*Variables*/
:root {
  --color-body: #b7cccf;
  --color-heading: #eff4dc;
  --color-base: #014048;
  --color-base-2: #032B31;
  --color-brand: #e1f881;
  --color-brand-2: #dffe59;
  --sidebar-width: 240px;
  --font-base: "Bai Jamburee";
}

/*Reset and Helpers*/
body {
  background-color: var(--color-base-2);
  color: var(--color-body);
  font-family: var(--font-base), Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.text-brand {
  color: var(--color-brand);
}

.bg-base {
  background-color: var(--color-base);
}

.hover-shadow {
  transition: all 0.4s ease;
}

.hover-shadow:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}

.icon-box {
  width: 60px;
  height: 60px;
  background-color: var(--color-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--color-base);
}

/*Card*/
.custom-card, .card-img {
  overflow: hidden;
}

.custom-card, .card-img img {
  transition: all 0.4s ease;
}

.custom-card:hover .card-img img{
  transform: scale(1.2);
}

.max-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}



/*Button*/
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  color: var(--color-base);
  border-color: var(--color-brand);
}

.btn-brand:hover, .btn-brand:focus {
  background-color: var(--color-brand-2);
  color: var(--color-base);
  border-color: var(--color-brand-2);
  box-shadow: none;
}

.custom-link {
  position: relative;
  font-weight: 700;
}

.custom-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.4s ease;
}

.custom-link:hover::after {
  width: 100%;
}

/*Navbar*/
.navbar {
  background-color: var(--color-base);
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
}

.navbar .nav-link.active {
  color: var(--color-brand) !important;
}

.navbar .nav-link:hover {
  color: var(--color-brand) !important;
}

/*Contact*/
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}

/*Footer*/
.social-links {
  
}

.social-links a {
  width: 40px;
  height: 40px;
  background-color: var(--color-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
}

/*Media Query*/
@media (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
  }
  .links .btn-brand {
    width: 200px;
    margin-bottom: 30px;
  }
  
  .links .custom-link {
    width: 178px;
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(rgba(3, 43, 49, 0.8), rgba(3, 43, 49, 0.8)), url(../includes/images/bg.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .navbar-brand img {
    border: 8px solid var(--color-brand);
  }

  #content-wrapper {
    padding-left: var(--sidebar-width);
  }
}